name: Update Stats Card

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Generate Stats Card
        uses: DevBawky/FATALDRAW_Github_Profile_Details@main
        with:
          username: DevBawky
          token: ${{ secrets.GH_TOKEN }}
          character: 'Rosalyn'

      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: .
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}